 /* Remove default margin */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 figure,
 blockquote,
 dl,
 dd {
   margin: 0;
}

.container{
    word-wrap: break-word;
    margin-top: 2em;
}

.billing{
    width: 1024px;
    display: inline-block;
    word-wrap: break-word;
}

body {
    color: #666;
    background-color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em;
}

h1 {
    color: #333;
}

p {
    display: block;
    padding-bottom: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-wrap: break-word;
}

a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  
.container table {
    width: 100%;
    margin: 0 0 15px 0;
    border: 1px solid #eee;
    text-align: left;
}

  table {
    border-spacing: 0;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

  td {
    display: table-cell;
    vertical-align: inherit;
}
